<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
  <add key="smtpServer" value="smtp.gmail.com" />
  <add key="EnableSsl" value = "true"/>
  <add key="smtpPort" value="587" />
  <add key="smtpUser" value="hemantha.pendyala19@gmail.com" />
  <add key="smtpPass" value="Gmail@1994" />
  </appSettings>
</configuration>